.reporting {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

    .r-titlebar {
        height: 60px;
        width: 100%;
        background-color: #FAFAFA;

        r-dropdown .ui-dropdown {
            width: 200px !important;
        }
    
        .basic-info {
            display: inline-flex;
            width: 280px;
            padding-top: 10px;
            padding-left: 10px;
    
            label {
                color: #c3bcbc;
            }

            r-dropdown {
                margin-left: 40px;
            }
        }

        .action-buttons {
            display: inline-flex;
            width: 200px;
            height: 60px;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
            float: right;

            .r-action {
                font-size: 1.5rem;
                cursor: pointer;
                margin-left: 1rem;
            
                &:hover {
                    color: #1E90FF;
                }
            }
        }
    }

    .r-container {
        width: 100%;
        display: inline-flex;
        height: calc(100% - 60px);

        .r-thumbnails {
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .r-action {
                font-size: 2rem;
                margin-bottom: 1rem;
                cursor: pointer;
            
                &:hover {
                    color: #1E90FF;
                }
            }

            .r-add {
                position: absolute;
                bottom: 0;
            }
        }

        .r-editors {
            height: 100%;
            width: calc(100% - 60px);
            overflow: hidden;
            display: inline-flex;

            .paper {
                width: calc(100% - 320px);
                height: 100%;
                overflow-y: auto;
                background-color: aliceblue;
            }

            .widget-toolbar {
                position: absolute;
                float: right;
                right: 10px;
                top: 10px;
                width: 3rem;
                cursor: pointer;

                &:hover {
                    .r-action {
                        visibility: visible;
                    }    
                }

                .r-action {
                    font-size: 1rem; 
                    margin-left: 0.25rem;
                    visibility: hidden;
            
                    &:hover {
                        color: #1E90FF;
                    }
                }
            }
        }

        .r-configurations {
            height: inherit;
            width: 320px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: white;

            .r-add {
                font-size: 1.8rem;
                margin-top: -4px;
                margin-left: 2rem;;
                cursor: pointer;
            
                &:hover {
                    color: #1E90FF;
                }
            }

            .r-group {
                cursor: pointer;
                font-size: 1.3rem;
                margin-right: -26px;
                float: right;
            
                &:hover {
                    color: #1E90FF;
                }
            }

            .r-titles {
                width: 100%;
                background-color: white;
            
                > span {
                    float: right;
                    margin-right: 16px;
                }
            
                > strong {
                    margin-left: 15px;
                }
            }

            .r-content {
                margin-top: 10px;

                ul {
                    list-style-type: none; 
                }

                .outer {
                    margin-left: -40px;
                }

                .inner {
                    margin-left: -20px;
                }

                li {
                    list-style-type: none; 
                    .dx-texteditor-container > input {
                        width: 250px !important;
                        padding-left: 20px !important;
                        padding-right: 50px !important;
                     }
                }
            }
        }

    }

    .r-overlay {
        .r-overlay-titlebar {
            height: 30px;
            background: #2399e5;
            border: 1px solid #2399e5;
            color: white;
            width: 100%;

            > span {
                width: 100%;
                line-height: 30px;
                margin-left: 0.5em;
                font-weight: bold;
            }  
        }

        .r-overlay-content {
            .r-secondary-page {
                height: 220px;

                .r-widgets {
                    height: 180px;
                }

                .r-buttons {
                    height: 40px;
                    display: inline-flex;
                    float: right;
                    margin-right: 10px;

                    .r-button {
                        padding: 0px 12px;
                        height: 25px;
                        border: none;
                        background-color: #2399e5;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .r-button-margin {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}






