
.r-textbox {
    display: inline-flex;
    margin-bottom: 0.5rem;

    .r-icon {
        font-size: 1.6rem;
        cursor: pointer;
        margin-top: 3px;

        &:hover {
            color: #1E90FF;
        }
    }

    .r-remove {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px !important;
    }

    &.non-removable {
        #editTextbox {
            margin-left: 0;
        }
    }

}

.r-meatball_left {
    z-index: 10;
    margin-right: -30px;
    margin-left: 5px;
    padding-left: 5px;
 }

 .r-meatball_right {
    z-index: 10;
    margin-right: -80px;
    padding-left: 11px;
 }

.r-group {
    margin-top: 0;

    > label {
        margin-left: 10px;
    }
}

 .tb-edit {
    margin-left: -25px; 
    font-size: 1.4rem;
 }

 .sub_tb-edit {
    margin-left: -45px;
    font-size: 1.4rem;
}

 