// APPLICATION TITLE
$app-title-font-size		: 50px;
$app-title-font-weight		: normal;
$app-title-font-style		: normal;
$app-title-font-stretch		: normal;
$app-title-line-height		: 1.17;
$app-title-letter-spacing	: 1.8px;
$app-title-text-align		: center;

.shane {
    font-size: $app-title-font-size;
    font-weight: $app-title-font-weight;
}